@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.spacer {
    width: 100%;
    height: 80px;
}

.content {
    position: relative;
    /* z-index: -1; */
}

/* NAV BAR --------------------------------------------------------------------------- */

/* BACKGROUND & CONTAINER */

.navigation {
    width: 100%;
    height: 80px;
    background-color: #8575DD;
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav-sep{
    position: absolute;
    left: 22%;
}

.nav-sep-2 {
    position: absolute;
    right: 35%;
}

.sep-bg {
    width: 70px;
    height: 80px;
    background-color:  #AC9DFF;
}

.sep1 {
    clip-path: polygon(60% 0, 80% 0, 20% 100%, 0% 100%);
    position: absolute;
}

.sep2 {
    clip-path: polygon(60% 0, 100% 0, 40% 100%, 0% 100%);
    position: absolute;
    left: 25px;
}

.nav-right {
    width: 33%;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #AC9DFF;    
    clip-path: polygon(9% 0%, 100% 0%, 100% 100%, 0 100%);
}



/* DISEÑO DE CONTENIDO */

.nav-item {
    list-style: none;
}

.nav-item :hover {
    color: #353535;
    text-decoration: none;
}

#logo {
    font-size: 2.6em;
}

.navigation h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 2.5em;
    margin: 0 20px;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0 10px;
}

.search {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    width: 60%;
    height: 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    color: #353535;
    font-style: italic;
    padding-left: 45px;
    line-height: 40px;
}

#search-bar :focus{
    outline: none;
}

#search-icon {
  position: absolute;
  left: 25%;  
}

.search-content {
    top: 80px;
    position: absolute;
    background-color: #DED8FF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 10;
    color: #353535;
  }

.right-content {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-icon {
    font-size: 2em;
}

.navigation h5 {
    margin: 0 10px;
}

/* BTN PERFIL DROPDOWN */

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown :hover {
      cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    top: 50px;
    position: absolute;
    background-color: #DED8FF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: #353535;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
  }

.dropdown-item {
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 1.2em;
}

.dropdown-item p {
    margin: 0 10px;
}

/* ASIDE --------------------------------------------------------------------------- */

.aside {
    width: 90px;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: #DED8FF;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease;
}

.aside-btn {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.aside-btn :hover{
    cursor: pointer;
}

.aside-btn :hover > span {
    color: #AC9DFF;
    font-size: 2.4em;
    transition: font-size 0.1s ease;
}

.aside-icon-bg {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #5F578B;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.aside-btn p {
    color: #5F578B;
}

/* RECETA -------------------------------------------------------------------------- */

.centrado {
    text-align: center;
}

.foto {
    max-width: 600px;
    max-height: 600px;
    border: 1px solid black;
}

.divfoto {
    width: 100%;
    min-height: 100%;
}

.icon {
    max-width: 30px;
    max-height: 30px;
    position: absolute;
}
.yummies {
    position: relative;
    left: -15px;
    top: 1px;
}

.comment {
    width: 100%;
    max-height: 100%;
    text-align: right;
}

.pasos {
    width: 600px;
    left: 800px;
}
